#livVikarCookieBar {
  position: fixed;
  bottom: 10px;
  left: 10px;
  right: 10px;
  z-index: 9999;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 100%;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  border: 7px solid var(--secondary-color);
  border-radius: 16px;
  width: auto;
  background-color: var(--primary-color);
}
#livVikarCookieBar * {
  padding: 0;
  margin: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#livVikarCookieBar .livVikarCookieBarBtn {
  position: relative;
  display: inline-block;
  width: 80%;
  height: 46px;
  padding: 0 30px;
  background-color: var(--primary-color);
  border: 3px solid var(--secondary-color);
  border-radius: 10px;
  font-size: 18px;
  line-height: 44px;
  text-decoration: none;
  vertical-align: middle;
  margin-right: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

#livVikarCookieBar .livVikarCookieBarBtn:hover {
  color: var(--primary-color);
}

#livVikarCookieBar .livVikarCookieBarBtn, #livVikarCookieBar .livVikarCookieBarBtn:after {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
#livVikarCookieBar .livVikarCookieBarBtn:after {
  position: absolute;
  color: var(--primary-color);
  top: 0;
  right: 52%;
  bottom: 0;
  left: 52%;
  z-index: -1;
  background: var(--secondary-color);
  content: "";
}
#livVikarCookieBar .livVikarCookieBarBtn:hover:after, #livVikarCookieBar .livVikarCookieBarBtn:focus:after {
  right: 0;
  left: 0;
}
#livVikarCookieBar .livVikarCookieBarBtn:hover, #livVikarCookieBar .livVikarCookieBarBtn:focus {
  text-decoration: none;
}
#livVikarCookieBar .livVikarCookieBarShell {
  width: 96%;
  margin: 0 auto;
}
#livVikarCookieBar .livVikarCookieBarActions {
  padding-top: 20px;
}
#livVikarCookieBar a[href^=tel] {
  color: inherit;
}
#livVikarCookieBar a:focus,
#livVikarCookieBar button:focus {
  outline: unset;
  outline: none;
}
#livVikarCookieBar h2 {
  color: var(--black-color);
  font-size: 40px;
  line-height: 35px;
  font-weight: 600;  
  margin-bottom: 20px;
}
#livVikarCookieBar p {
  font-size: 20px;
  line-height: 25px;
  color: var(--black-color);
  font-weight: 400;
}
#livVikarCookieBar p a {
  color: var(--secondary-color);
  font-weight: 700;
}