/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


@property --progress {
    syntax: '<integer>';
    inherits: true;
    initial-value: 0;
}

@keyframes load {
    to {
        --progress: var(--value)
    }
}

@keyframes background_animation {
    from {
        background-size: 100%;
    }

    to {
        background-size: 110%;
    }
}

@keyframes ripple {
    from {
        opacity: 0.7;
        transform: scale3d(1, 1, 1);
        transform-origin: center;
        border-width: 1px;
    }

    to {
        opacity: 0;
        transform: scale3d(1.5, 1.5, 1.5);
        transform-origin: center;
        border-width: 10px;
    }
}

ul {
    padding: 0;
}


:root {
    --dark-bg: #111111;
    --secondary-dark: #222222;
    --accent-color: #c93d80;
    
    --accent-color-2: #cd5a91;
    --gray-color: #aaaaaa;
    
    --white-color: #fff;
    --red-color: red;
    --black-color: #000;

    --primary-color: #ffffff;
    --secondary-color: #1c75bc;

    /* --primary-color: #1c75bc;
    --secondary-color: #ffffff; */

    --font-1: 'Roboto', sans-serif;
    --font-2: 'Open Sans', sans-serif;
}

body {
    font-family: var(--font-1);
    background-color: var(--primary-color);
}

.hidden {
    display: none !important;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-05 {
    margin-bottom: 0.5rem !important;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.mb-15 {
    margin-bottom: 1.5rem !important;
}

.mb-2 {
    margin-bottom: 2rem !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-05 {
    margin-top: 0.5rem !important;
}

.mt-1 {
    margin-top: 1rem !important;
}

.mt-15 {
    margin-top: 1.5rem !important;
}

.mt-2 {
    margin-top: 2rem !important;
}

.border-1-secondary-color {
    border: 1px solid var(--secondary-color);
}

.uppercase {
    text-transform: uppercase;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 50px;
}

h3 {
    font-size: 40px;
}

h4 {
    font-size: 30px;
}

h5 {
    font-size: 25px;
}

h6 {
    font-size: 20px;
}

ul {
    list-style: none;
}

img {
    object-fit: cover;
}

section {
    background-size: cover;
    background-position: center;
}

a {
    text-decoration: none !important;
}

a.underlined {
    text-decoration: underline;
}

a.underlined:hover {
    color: var(--primary-color);
}

p#bi, p#bp {
    display: none;
}

p.service {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: .5rem;
    border-radius: 10px;
    margin-right: 8px;
    margin-bottom: 10px;
    display: inline-block;
}

p.course {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1rem 2rem;
    border-radius: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
}

.bg-secondary-color.company-highlight span {
    color: var(--primary-color);
}

.bg-primary-color.company-highlight span {
    color: var(--secondary-color);
}

.services-container,
.courses-container {
    border: 3px solid var(--secondary-color);
    border-radius: 10px;
}

.services-container {
    margin-left: 1rem;
    padding: 1rem .5rem .5rem .5rem;
    width: 48%;
}

.courses-container {
    margin-left: 0;
    padding: 2rem 1.5rem;
}

.services-container div.rounded-circle{
    display: inline-block;
    margin-right: 2rem;
}

/* .services-container div.subsection-title-wrapper{
    margin-bottom: 10px;
} */

.services-container h2,
.services-container h3{
    color: var(--secondary-color);
}

.services-container h2{
    display: inline-block;
    font-size: 2rem;
    margin: 0;
}

.courses-container h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: var(--black-color);
}

.services-container h3{
    font-size: 1.3rem;
    margin-top: 1rem;
}

.center {
    margin: 0 auto;
}

.font-1 {
    font-family: var(--font-1);
}

.font-2 {
    font-family: var(--font-2);
}


.form input,
.form textarea {
    background-color: white;
    border-radius: 10px;
    width: 100%;
}

.form input:focus,
.form textarea:focus {
    box-shadow: none;
}

.form input::placeholder,
.form textarea::placeholder {
    color: #88888893;
}

.form .submit_form {
    padding-inline: 2rem;
    padding-block: 0.7rem;
    text-decoration: none;
    transition: all 0.5s;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 10px;
    font-weight: 600;
}

.form .form-field-label {
    color: var(--black-color);
    margin-bottom: .5rem;
    font-weight: 600;
}

.form.add-booking ,.submit_form {
    float: right;
}

form .form-group {
    margin-bottom: 10px;
}

form .form-group.active {
    padding-top: 20px;
}

form .form-group label {
    margin-bottom: 3px;
}

form .form-group.active label {
    vertical-align: top;
}

.row.mb-3.sex {
    display: none;
}

.form-actions {
    text-align: right;
}

p.form-actions,
.form-actions.align-left {
    text-align: left;
}

.form-actions .buttons-wrapper {
    display: inline-block;
    width: 50%;
}

.form-actions .save,
.form-actions .cancel {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: inline-block;
    width: 30%;
    border-width: 2px;
    border-style: solid;
    font-size: 1.2rem;
    font-weight: 700;
    background-color: var(--primary-color);
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.5s;
    padding: .5rem 1rem;
    text-align: center;
}

.form-actions .save {
    color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.form-actions .save:not(.no-margin) {
    margin-left: 5px;
}

.form-actions .save:hover {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: 2px solid var(--primary-color);
}

.form-actions .cancel {
    color: var(--red-color);
    border-color: var(--red-color);
    background-color: var(--primary-color);    
}

.form-actions .cancel:hover {
    color: var(--primary-color);
    background-color: var(--red-color);
}

.submit_form-subscribe {
    padding-inline: 2rem;
    padding-block: 0.7rem;
    text-decoration: none;
    transition: all 0.5s;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 5px;
}

.submit_form-subscribe:hover{
    background-color: var(--dark-bg);
    color: white;
    filter: none;
}

.maps {
    width: 100%;
    height: 280px;
    /* filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg); */
}

#header {
    transition: all 0.5s ease;
}

.banner a {
    color: var(--primary-color);
    padding-bottom: 0;
}

a.social-item {
    color: var(--secondary-color);
}

.nav-link {
    border-bottom: 2px solid transparent;
    font-size: 1.125rem;
}

.nav-link:hover {
    color: var(--secondary-color);
}

.nav-link.active {
    color: var(--secondary-color) !important;
}

.nav-link:focus {
    color: var(--secondary-color) !important;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.dropdown-menu {
    background-color: white;
    border-radius: 0;
    border: none;
    padding: 0;
    padding-block: 0.5rem;
    box-shadow: 1px 1px 23px 1px rgba(0, 0, 0, 0.17);
    -webkit-box-shadow: 1px 1px 23px 1px rgba(0, 0, 0, 0.17);
    -moz-box-shadow: 1px 1px 23px 1px rgba(0, 0, 0, 0.17);
    border-radius: 10px;
}

.dropdown-item {
    padding: 0;
    margin: 10px 20px;
    width: auto;
}

.dropdown-item.with-top-separator {
    border-top: 1px solid var(--gray-color);
    padding-top: 10px;
}

.dropdown-item.active {
    color: var(--secondary-color);
    background-color: transparent;
}

.dropdown-item:hover {
    color: var(--secondary-color);
    background-color: transparent;
}

.dropdown-item:focus {
    color: var(--secondary-color);
}

.section {
    padding: 4em 2em 2em 2em;
    overflow: hidden;
}

.section.add-booking-section {
    padding-top: 0;
}

.r-container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

.bg-dark-color {
    background-color: var(--dark-bg);
}

.bg-primary-color {
    background-color: var(--primary-color);
}

.bg-secondary-color {
    background-color: var(--secondary-color);
}

.bg-dark-transparent {
    background-color: #232323b7;
}

.bg-secondary-dark {
    background-color: var(--secondary-dark);
}

.bg-accent-color {
    background-color: var(--secondary-color);
}

.bg-accent-color-2 {
    background-color: var(--accent-color-2);
}

.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.accent-color {
    color: var(--secondary-color);
}

.accent-color-1 {
    color: var(--secondary-color);
}

.accent-color-2 {
    color: var(--accent-color-2);
}

.border-accent-color {
    border-color: var(--accent-color) !important;
}

.border-accent-color-1 {
    border-color: var(--secondary-color) !important;
}

.border-accent-color-2 {
    border-color: var(--accent-color-2) !important;
}

.text-gray {
    color: var(--gray-color) !important;
}

.bg-accent-color-hover:hover {
    background-color: var(--secondary-color);
    color: white;
}

.btn-dark {
    background-color: var(--dark-bg);
    color: white;
    border: none;
}

.btn-dark:hover {
    background-color: var(--secondary-color);
    color: white;
    border: none;
}

.image-overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #000;
    opacity: 0.5;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.image-overlay-2 {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--accent-color);
    opacity: 0.8;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.image-overlay-3 {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: #FFFFFF;
    opacity: 0.75;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.overlay {
    /* background-image: url(../images/bg.png);
    background-size: contain;
    background-position: center; */
    border: 3px solid var(--secondary-color);
    border-radius: 10px;
    position: absolute;
    width: 80%;
    height: 80%;
    right: 0;
    top: 0;
    background-repeat: no-repeat;
    background-size: 65% auto;
    opacity: 1;
}

.overlay.right {
    background-position: center right;
}

.overlay.left {
    background-position: center left;
}

.logo-container {
    max-width: 200px;
}

.logo-container > img{
    width: 200px;
}

.divider {
    display: flex;
    align-items: center;
}

.divider::after {
    display: block;
    content: "";
    border-bottom: 0;
    flex-grow: 1;
    border-top: 3px solid var(--accent-color);
    max-width: 80px;
    min-width: 80px;
}

.divider-before::before {
    display: block;
    content: "";
    border-bottom: 0;
    flex-grow: 1;
    border-top: 3px solid var(--accent-color);
    max-width: 80px;
    min-width: 80px;
}

.divider-element {
    letter-spacing: 2px;
    flex-shrink: 0;
    flex-grow: 1;
    margin: 0;
    margin-left: 1rem;
    font-weight: 400;
}

.image-infinite-bg {
    height: 85vh;
}

.animation-bg {
    animation: background_animation 10s forwards;
}

.r-progress {
    --value: 17;
    --progress-color: var(--accent-color);
    --secondary-progress-color: #a8a8a8;
    --animation-duration: 2000;
}

.r-progress-bar {
    position: relative;
    height: 20px;
    background-color: var(--secondary-progress-color);
    display: flex;
    /* border-radius: 3px; */
    overflow: hidden;
}

.r-progress-bar .progress-value {
    height: 100%;
    width: calc(var(--progress) * 1%);
    background-color: var(--progress-color);
    position: relative;
    /* border-radius: 3px; */
    animation: load;
    animation-fill-mode: forwards;
    animation-duration: calc(var(--animation-duration) * 1ms);
    animation-timing-function: linear;
    animation-delay: 500ms;
    color: black;
}

.r-progress-bar.percentage-label::after {
    counter-reset: percentage var(--progress);
    content: counter(percentage) '%';
    display: block;
    position: absolute;
    left: calc((var(--progress) * 1%) - 3rem);
    animation: load;
    animation-fill-mode: forwards;
    animation-duration: calc(var(--animation-duration) * 1ms);
    animation-timing-function: linear;
    animation-delay: 500ms;
    color: white;
    font-size: 15px;
    line-height: 1.2;
    /* font-weight: 700; */
    font-family: var(--font-1);
}

.bg-attach-fixed {
    background-attachment: fixed;
}

.social-container {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.social-item {
    border-radius: 50%;
    aspect-ratio: 1/1;
    font-size: 15px;
    width: 1.8rem;
    height: 1.8rem;
    background-color: var(--primary-color);
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
}

.social-item.bg-accent-color-1 {
    background-color: var(--secondary-color);
}

.social-item:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-link {
    background-color: transparent;
    color: var(--accent-color);
    border: none;
    position: relative;
}

.nav-tabs .nav-link:hover {
    border: none;
    color: white;
}

.nav-tabs .nav-link.active {
    background-color: transparent;
    border: none;
}

.nav-tabs .nav-link.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--accent-color);
}

.breadcrumb .breadcrumb-item>a {
    color: white;
}

.breadcrumb .breadcrumb-item.active {
    color: var(--secondary-color);
}

.breadcrumb-item+.breadcrumb-item::before {
    color: white;
}

.swiper-pagination {
    margin-block: 1rem;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: black;
}

.video-container {
    aspect-ratio: 16/9;
    background-size: cover;
    background-position: center;
    position: relative;
}

.video-iframe {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.video-btn {
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 5rem;
    background-color: transparent;
    border: solid 2px white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.border-custom {
    border-width: 0px 1px 0px 0px;
    border-color: var(--accent-color);
    border-style: solid;
}

.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    aspect-ratio: 1/1;
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}

.about-us .icon-box {
    font-size: 20px;
    width: 100px;
    height: 50px;
}

.page-loader {
    background-color: var(--black-color);
    opacity: .7;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    display: none;
}

.spinner {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid;
    border-color: var(--primary-color) var(--secondary-color);
    animation: l1 1s infinite;
    position: absolute;
    top: 50%;
    left: 50%;
}
@keyframes l1 {to{transform: rotate(.5turn)}}


.ifr-video {
    aspect-ratio: 16/9;
    width: 100%;
}

.post-button {
    background-color: transparent;
    color: var(--secondary-color) !important;
    border: none !important;
}

.post-button:hover {
    background-color: transparent !important;
    color: var(--accent-color) !important;
    transform: scale(1.15);
}

.card.with-border-bottom {
    border-bottom: 3px solid var(--secondary-color) !important;
}

.list-group .list-group-item {
    border: none;
    border-radius: 5px;
}

.list-group .list-group-item.active {
    background-color: var(--accent-color);
}

.list-group .list-group-item.list-group-item-action:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.accordion-button:not(.collapsed) {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.accordion-item:first-of-type .accordion-button {
    border-radius: 10px;
}

.accordion-button {
    background-color: #f6f6f6;
    border-radius: 5px;
}

.accordion-button:hover {
    filter: none;
}

.accordion-button:focus {
    z-index: 3;
    border: none;
    outline: 0;
    box-shadow: none;
}

.accordion-item {
    margin-bottom: 10px;
}

/* .accordion-item p, */
.accordion-item-header {
    font-size: 1.2rem;
}

.accordion-item .form-actions {
    margin-top: 2rem;
}

.accordion-item-header {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    position: relative;
}

.accordion-item-header > p {
    width: 95%;
}

.accordion-item-header .indicator {
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    font-size: 1.8rem;
    line-height: 1rem;
}

.accordion-item-content {
    display: none;
    padding: 10px;
    position: relative;
}

.accordion-item-content > p {
    display: inline-block;
    width: 33%;
}

.accordion-item-content p > span {
    font-weight: 700;
}

.accordion-item-content .extra-actions {
    display: flex;
    margin-top: 1rem;
}

.accordion-item-content .extra-actions>div {
    display: inline-block;
}

.accordion-item-content-actions {
    position: absolute;
    right: 0;
    bottom: 0;
}

.accordion-item-content-actions > button {
    width: 8rem;
    margin-right: 1rem;
}

.accordion-item-content-actions > button:last-child {
    margin-right: 0;
}

div.pagination {
    display: block;
    /* text-align: center; */
}

div.pagination .page-link{
    display: inline-block;
    cursor: pointer;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 10px;
    margin-right: .5rem;
    font-size: 1.1rem;
}

div.pagination .page-link:last-child{
    margin-right: 0;
}

div.pagination .page-link.active{
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: 700;    
}

div.pagination .count-info{
    margin-left: 1rem;
    align-items: center;
    font-size: 1.3rem;
    color: var(--secondary-color);
}

#search-text {
    display: inline-block;
    text-align: center;
    padding: .5rem 1rem;
    font-size: 1.2rem;
}

#add-booking-section {
    padding: 2rem 0;
    display: flex;
}

#add-booking-section input,
#add-booking-section select,
.accordion-item-content select {
    border: 1px solid var(--gray-color);
}

#add-booking-button-wrapper {
    text-align: right;
    margin-bottom: 1rem;
}

.add-booking-buttons > button{
    margin-right: 1rem;
    width: 10%;
}

.add-booking-buttons > button:last-child{
    margin-right: 0;
}

#add-booking-button {
    width: 20%;
}

.bookings-subsection-header {
    font-weight: 700;
    font-size: 1.2rem;
    text-transform: capitalize;
}

#filter-wrapper {
    margin-bottom: 1rem;
}

#filter-wrapper span {
    font-size: 1.3rem;
}

.assign-users-select {
    /* margin-left: 1rem; */
    width: 50%;
    display: inline-block;
}

.assign-booking {
    margin-left: 1rem;
}

.fa-brands {
    font-size: 21px;
    margin-top: 3px;
    margin-left: 3px;
}

footer {
    background-color: var(--secondary-color);
}

footer .contact-detail {
    margin-right: 1.5rem;
}

footer .contact-detail:last-child {
    margin-right: 0;
}

.page-banner {
    width: 100%;
    height: 300px;
    margin-bottom: 4rem;
}

.page-title {
    margin-top: 40px;
}

footer a,
footer a:hover {
    color: var(--primary-color);
}

footer .logo-container img {
    width: 200px;
    margin-top: -40px;
}

button>i{
    margin-right: .5rem;
}

a>i {
    margin-right: .2rem;
}

.form-control {
    border: 2px solid var(--secondary-color);
    border-radius: 10px;
}

select.dropdown {
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%204%205%22%3E%3Cpath%20fill%3D%22none%22%20stroke%3D%22%23000%22%20stroke-width%3D%220.15%22%20d%3D%22M2%204%20L0.5%201%20L3.5%201%20Z%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 5% center;
    background-size: 15px;
}

select.dropdown::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    pointer-events: none;
    transform: translateY(-50%);
    border: solid #000;
    border-width: 0 1.5px 1.5px 0;
    padding: 3px;
    transform: rotate(45deg);
}

.form-signup {
    background-color: var(--primary-color);
    border: 3px solid var(--secondary-color);
    border-radius: 10px;
}

.modal-content > .form-signup {
    border: none; 
}

section#users-list,
section#user-details {
    padding: 0 2rem 2rem 2rem;
}

section#user-details p{
    margin-bottom: 5px;
}

section#users-list .btn:hover{
    color: var(--primary-color) !important;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    margin-left: 5px;
    width: 50px;
    height: 25px;
}

/* Hide default HTML checkbox */
.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--gray-color);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 5px;
    background-color: var(--primary-color);
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--secondary-color);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--secondary-color);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.applications-list {
margin-bottom: 3rem;
}

.applications-list > .record {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 3px solid var(--secondary-color);
    border-radius: 10px;
}

.applications-list > .record > p {
    display: inline-block;
    width: 33%;
}

.applications-list > .record > a {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 1.2rem;
}

.applications-list > .record > p > span {
    font-weight: 700;
}

#scroll-top,
#aside-contact-widgets .call-us,
#aside-contact-widgets .mail-us,
#aside-contact-widgets .facebook-link,
#aside-contact-widgets .linkedin-link {
    border: 2px solid var(--primary-color);
	background: var(--secondary-color);
	color: var(--primary-color);
	font-size: 20px;
	height: 50px;
	line-height: 55px;
	text-align: center;
	width: 50px;
	z-index: 9;
	cursor: pointer;
	border-radius: 50%;
	opacity: 0.5;
}

#scroll-top i,
#aside-contact-widgets i,
#aside-contact-widgets i,
#aside-contact-widgets i,
#aside-contact-widgets i {
    position: relative;
    top: -5px;
}

#scroll-top:hover,
#aside-contact-widgets .call-us:hover,
#aside-contact-widgets .mail-us:hover,
#aside-contact-widgets .facebook-link:hover,
#aside-contact-widgets .linkedin-link:hover {
	opacity: 1;
}

#aside-contact-widgets .facebook-link,
#aside-contact-widgets .linkedin-link,
#aside-contact-widgets .call-us {
	margin-bottom: 10px;
}

#scroll-top {
	position: fixed;
	bottom: 1%;
	right: 1%;
	display: none;
}

#aside-contact-widgets {
    position: fixed;
    right: 1%;
    top: 20%;
    z-index: 100;
}

#username-group {
    display: none;
}

.opening-hours .days{
    width: 30%;
}

#contact-form {
    display: flex;
}

#contactForm .title-wrapper {
    display: none;
}

.success {
    color: var(--primary-color);
}
form .error {
    background-color: var(--primary-color);
    padding: 3px 10px;
    color: var(--red-color);
    border-radius: 10px;
    display: none;
}

.w-10p
{
    width: 10% !important;
}

.w-20p
{
    width: 20% !important;
}

.w-30p {
    width: 30% !important;
}

.w-40p {
    width: 40% !important;
}

.w-50p {
    width: 50% !important;
}

.w-75p {
    width: 75% !important;
}

.w-100p {
    width: 100% !important;
}

@media only screen and (max-width:991px) {
    h1 {
        font-size: 50px;
    }
    
    h2 {
        font-size: 40px;
    }
    
    h3 {
        font-size: 30px;
    }
    
    h4 {
        font-size: 25px;
    }
    
    h5 {
        font-size: 20px;
    }
    
    h6 {
        font-size: 15px;
    }

    .section {
        padding: 6em 2em 6em 2em;
    }

    .divider {
        width: 330px;
    }

    .fs-very-large {
        font-size: 3.125rem;
    }

    .image-absolute-1 {
        left: 45%;
        top: 35%;
    }

    .image-infinite-bg {
        background-size: cover !important;
    }

    #header {
        background: rgba(19, 19, 19, 0.88);
        backdrop-filter: blur(11px);
        -webkit-backdrop-filter: blur(11px);
    }

    .border-custom {
        border-width: 0px 0px 1px 0px;
    }

    .mb-0 {
        margin-bottom: 0 !important;
    }
}